<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>
        <% if(locals.auth){ %>
          <strong> WELCOME <%= user %>! </strong>
          <p>Please proceed to any of the management section links above.</p>
        <% } %>
        <% if (!locals.auth){ %>
            <%=  user %>
            <br>
            YOU ARE NOT AUTHORIZED!
        <% } %>
    </main>




    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>
</html>